.div-1{
    background-color: rgb(247, 246, 246);
    height: 240px;
    width: 100%;
    margin: 0px;
}
/*h1{
    margin-left: 50%;
}
p{
    size: 200px;
    margin-left: 15%;
    margin-top: 100px;
}*/
.image1{
    width:35%;
    height:190px;
    margin-left: 490px;
    margin-top: 10px;
    size: 30px;
}
h1{
    margin-top: -5px;
    margin-left: 37%; 
}
.div-2{
    margin-top: -20px;
    background-color: rgb(113, 114, 132);
    width: 20%;
    height: 500px;
    border-radius: 10px;
    
}
.div-2 section{
    margin-left: 25px;
}
h2{
    margin-left: 35px;
    
}
.div-3{
    background-color: rgb(235, 225, 225);
    height: 1000px;
    width: 80%;
    margin-left: 20%;
    margin-top: -500px;
    border-radius: 10px;
    
}

.div-3 p{
    
    margin-left: 30px;
}
h3{
    color: brown;
    position: relative;
    margin:0;
    margin-left: 35%;
    top: 20px;
}
.emp-p{
    margin-top: 40px;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
}
.div-3 button{
    margin-left: 40px;
    padding: 10px 15px;
    border: 1px solid #333;
    background-color: white;
    border-radius: 30px;
    transition: 0.3s;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    position: relative;
    transition: 0.3s else all;
}

.div-3 button:hover{
    color: violet;
    background-color: black;
    transform: rotateX(40deg);
    transition: 0.5s else all;
}

.exa-p{
    position: relative;
    left: 0px;
    margin-top: 20px;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
}
.but-exa button{
    margin-left: 100px;
    size: 90px;
}
.p-p{
    position: relative;
    left: 30px;
    font-size: 18px;
}
.div-4{
    background-color: black;
    height: 500px;
    width: 20%;
    margin-top: -499px;
    border-radius: 10px;

}
.div-4 h4{
  position: relative;
  top: 20px;
  color: white;
  font-size: 30px;
  margin: 0;
  left: 91px;
}
.div-4 input{
    font-size: 20px;
    position: relative;
    left: 38px;
    top: 60px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
}
.div-4 a{
    color: white;
    position: relative;
    top:100px;
    left:90px;
    
}

